
  .our-clients__team {
    text-align: center;
 
    @include text-tyles (36px,1.1);
    color: $secondary-color;
    margin-top: 0;
    padding-bottom: 50px;
    margin-bottom: 0;
    @media screen and (min-width: 320px) and (max-width: 1200px){
      // width: 100vw;
      text-align: center;
      font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;
      margin-bottom: 30px;
      padding-bottom: 0;
    }
  }
  
  .our-clients-permanent {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    @media screen and (min-width: 320px) and (max-width: 767px){
      display: flex;
      flex-wrap: wrap;
      width: 100%;
   justify-content: center;
   margin-bottom: 30px;

   
   
      
    }

    @media screen and (min-width: 768px) and (max-width: 1200px){
      flex-wrap: wrap;
      max-width: 1000px;
      margin-bottom: 60px;
      justify-content: center;
    }
  }
  .our-clients-permanent__client {
    content: '';
    fill: #afb1b8;
    @media screen and (min-width: 320px) and (max-width: 767px){
     
     flex-basis: calc((100% - 15px * 4) / 2);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    

     
    }

    @media screen and (min-width: 768px) and (max-width: 1200px){
      width: 226px;
      margin: 10px 15px 0 10px;
    }
    &__svg{
      fill: #afb1b8;
      
      @media screen and (min-width: 320px) and (max-width: 767px){
      
        width: 100%;
      margin: 0;
    
    
    }

        @media screen and (min-width: 768px) and (max-width: 1200px){
          width: 226px;
        }
    }

  
 
    @include width-height (170px,92px);
    border: 1px solid #afb1b8;
    border-radius: 5px;
    transition: fill 250ms $timing-function,
      border-color 250ms $timing-function;
  
  
  &:hover,
  &:focus {
    fill: var(--akcent-color);
    border-color: var(--akcent-color);
  }
}