.our-advantages {
    display: flex;

    @media screen and (min-width:320px) and (max-width:767px) {
      width: 450px;
      display: block;
      margin: 0 auto;
      padding: 0;
      
    }
    @media screen and (min-width: 768px) and (max-width: 1200px){
      width: 768px;
      flex-wrap: wrap;
      padding: 0;
      margin: 0 auto;
     

    }
  
  
&__list {
    width: 270px;
    margin-right: 30px;

    @media screen and (min-width:320px) and (max-width:767px) {
     width: 450px;
      text-align: center; 
      margin-bottom: 30px;
      
    }
    @media screen and (min-width: 768px) and (max-width: 1200px){
      flex-basis: calc(( 100% - 30px * 2) / 2);
  
    
      // width: 354px;
      margin: 15px;
    }
   
  }
&__list:last-child {
    margin: 0;
    @media screen and (min-width:480px) and (max-width:767px) {
      margin-bottom: 30px;}
      @media screen and (min-width: 768px) and (max-width: 1200px){
        flex-basis: calc(( 100% - 30px * 2) / 2);
    
      
        // width: 354px;
        margin: 15px;
      }
     

  }
&__list::before {
    content: '';
    display: block;
    height: 120px;
    background-color: var(--background-color-buttom);
  
    background-position: center;
    background-repeat: no-repeat;
  }
  
&__list:nth-child(1)::before {
    background-image: url(../images/antenna.png);
    
  }
  
&__list:nth-child(2)::before {
    background-image: url(../images/clock.png);
  }
  
&__list:nth-child(3)::before {
    background-image: url(../images/diagram.png);
  }
  
&__list:nth-child(4)::before {
    background-image: url(../images/astronaut.png);
  }


 
&__our-pluses {

  @media screen and (min-width:320px) and (max-width:1200px){
    padding-top: 30px;
  }

    @include text-tyles (14px,1.1);
  
    text-transform: uppercase;
    color: $secondary-color;
  }
&__tagline {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.7;
    margin-top: 10px;
    @media screen and (min-width:480px) and (max-width:767px) {
      text-align: left;
      
    }
  }
}