.hero {
  background-color: $backgroung-secondary-color;
  text-align: center;
  padding: 200px 0px 200px 0px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/Img2.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 100vw;
    height: 400px;
    padding: 0;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/Header_mobile.png);
    // background-size: cover;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 100vw;
    height: 400px;
    padding: 0;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/Header_tablet.png);
    // background-size: contain
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url('../../images/Img2_2.png');
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/Header_mobile_2.png);
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../images/Header_tablet@2x.png);
  }
}

.hero__main-paragraph {
  width: 691px;

  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;

  @include text-tyles(44px, 1.36);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $background-color-buttom;

  @media screen and (min-width: 320px) and (max-width: 1200px) {
    padding-top: 118px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    width: 100%;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
